<div class="scroll-container">
  <div class="scroll-content">
    <div class="item-1"></div>
    <div class="item-2">
      <ng-lottie [options]="anim2Options" max-width="100px" height="100px"></ng-lottie>
      <span>Financial<br> Goal</span>
    </div>
    <div class="item-3">
      <span>Smart<br> Investments</span>
    </div>
    <div class="item-4">
      <span>Expense<br> Tracking</span>
    </div>
    <div class="item-2">
      <span>Budget<br> Planning</span>
      <ng-lottie [options]="anim1Options" max-width="100px" height="100px"></ng-lottie>
    </div>
    <div class="item-1"></div>
  </div>
</div>
