<section>
  <div class="hero-section">
    <div class="hero-container">
      <div class="content reveal-left">
        <div class="reveal-title">
          <p style="margin-bottom: 8px">Try it now</p>
          <h1>
            Transform the way you manage your <b>finances</b>
          </h1>
        </div>
        <p class="reveal-description"> 
          Transform the way you manage your finances by adopting smarter, 
          more efficient methods to budget, save, and invest. Our approach empowers you to take full control of your money, 
          helping you reduce stress, avoid unnecessary expenses, and build lasting financial security. Discover tools and strategies that make money management simpler, more transparent,
          and tailored to your unique goals.
        </p>
        <div class="actions reveal-button">
          <button class="btn started">Get Started</button>
          <!-- <button matButton="outlined" class="btn outlined">Learn More</button> -->
        </div>
      </div>
      
      <div class="image reveal-right">
        <div class="grid-container content">
          <div class="grid-item item-1">
            <span>Smart<br> Investments</span>
          </div>
          <div class="grid-item item-2">
            <ng-lottie [options]="anim1Options" max-width="130px" height="130px"></ng-lottie>
            <span>Budget<br> Planning</span>
          </div>
          <div class="grid-item item-3">
            <ng-lottie [options]="anim2Options" max-width="130px" height="130px"></ng-lottie>
            <span>Financial<br> Goal</span>
          </div>
          <div class="grid-item item-4">
            <span>Expense<br> Tracking</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
