.sponsor-desktop {
  max-width: 1200px;
  margin: 0 auto;

  .sponsor-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.sponsor-wrapper {
  overflow: hidden;
  width: 100%;
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.sponsor-container {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.sponsor-img {
  height: 80px;
  width: 80px;
  filter: grayscale(100%);
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sponsor-container:hover {
  animation-play-state: paused;
}
