<mat-divider></mat-divider>
<div class="sponsor-wrapper">
  <div class="sponsor-container">
    <img class="sponsor-img" src="assets/icon/airbnb.png" alt="airbnb" />
    <img class="sponsor-img" src="assets/icon/visa.png" alt="visa" />
    <img class="sponsor-img" src="assets/icon/mastercard.png" alt="mastercard" />
    <img class="sponsor-img" src="assets/icon/paypal.png" alt="paypal" />
    <img class="sponsor-img" src="assets/icon/openai.png" alt="openai" />
    <!-- duplikat agar loop terlihat mulus -->
    <img class="sponsor-img" src="assets/icon/airbnb.png" alt="airbnb" />
    <img class="sponsor-img" src="assets/icon/visa.png" alt="visa" />
    <img class="sponsor-img" src="assets/icon/mastercard.png" alt="mastercard" />
    <img class="sponsor-img" src="assets/icon/paypal.png" alt="paypal" />
    <img class="sponsor-img" src="assets/icon/openai.png" alt="openai" />
  </div>
</div>
<mat-divider></mat-divider>
