<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;" class="sponsor-cointainer">
  <img class="sponsor-img img-1" src="assets/icon/airbnb.png" alt="bitcoin" />
  <img class="sponsor-img img-2" src="assets/icon/visa.png" alt="bitcoin" />
  <img class="sponsor-img img-3" src="assets/icon/mastercard.png" alt="bitcoin" />
  <img class="sponsor-img img-4" src="assets/icon/paypal.png" alt="bitcoin" />
  <img class="sponsor-img img-5" src="assets/icon/openai.png" alt="bitcoin" />
</div>
<mat-divider></mat-divider>